.footer {
    background-color: black;
    color: #727272;
    text-align: center;
    line-height: 1.5;

    strong {
        color: #9c9c9c;
    }

    .footer-menu {
        display: flex;
        justify-content: center;
        font-size: 0.6rem;

        ul {
            list-style-type: none;
            padding: 1rem;
        }

        .nav-shop {
            display: none;
        }
        .footer-kundservice {
            display: none;
        }
        h2 {
            display: none;
        }

        .footer-kontakt,
        .footer-adress {
            text-align: left;
            line-height: 2;
        }
    }

    .company-info {
        display: block;
        border-top: 1px solid #272727;
        text-align: justify;
        text-align-last: center; // center last line of justified text
        margin: 0 auto;
        font-size: 0.6rem;
        padding: 3rem 1rem;
    }

    .copyright p {
        display: block;
        border-top: 1px solid #272727;
        margin: 0 auto;
        padding: 1rem;
        font-size: 0.6rem;
    }
}
