.header-top {
    grid-area: header-top;
    // width: 100%;
}
.logo {
    grid-area: logo;
}

.content-main {
    grid-area: content-main;
}

.footer-adress {
    grid-area: footer-adress;
}
.footer {
    grid-area: footer;
}
.mobile-search {
    grid-area: mobile-search;
}
.hamburger {
    grid-area: hamburger;
}
.social-media {
    grid-area: social-media;
}

@include mq(phone-only) {
    body {
        display: block;
        overflow-y: hidden;
    }

    .main-container {
        display: grid;
        grid-template-areas:
            "header-top header-top hamburger"
            "logo mobile-search mobile-search"
            "content-main content-main content-main"
            "social-media social-media social-media"
            "footer footer footer"
            "footer-bottom footer-bottom footer-bottom";
    }
}
