.header-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    background-color: black;

    .info-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .info-top-frakt {
            padding: 0 1rem; // tb-lr / t-r-b-l
        }
    }
}
