<article class="product-display">
    <div class="container-images-dots">
        <!-- IMAGES -->
        <picture class="product-img product1-img">
            <img src="/images/product1.webp" alt="alt 1" />
        </picture>
    
        <picture class="product-img product2-img">
            <img src="/images/product2.webp" alt="alt 2" />
        </picture>
    
        <picture class="product-img product3-img">
            <img src="/images/product3.webp" alt="alt 3" />
        </picture>
        <!-- DOTS -->
        <div class="product-current">
            <div class="dot-container product1-dot"><span class="dot dot1"></span></div>
            <div class="dot-container product2-dot"><span class="dot dot2"></span></div>
            <div class="dot-container product3-dot"><span class="dot dot3"></span></div>
        </div>
    </div>

    <div class="container-product-info">
        <div class="display-news"></div>

        <div class="inner-container-product-info">
            <div class="product-info product1-info">
                <picture class="display-logo">
                    <img class="display-logo-img" src="" alt="alt 3" />
                </picture>
                <p class="display-info"></p>
                <p class="display-design"></p>
                <p class="display-price"></p>
                <p>VÄLJ STORLEK</p>
                <div class="display-sizes">
                </div>
                <button>LÄGG I VARUKORGEN</button>
                <p class="display-article">ARTIKELNUMMER <span class="display-article-bold">HM3049975AL</span></p>
            </div>
            <div class="product-info product1-description">
                <p>PRODUKTBESKRIVNING</p>
                <p class="display-description"></p>
            </div>
        </div>
        <div class="animatedDivs-container">
            <div class="clickableDiv">STORLEK & PASSFORM<i class="expand_moreIcon material-icons">expand_more</i>
                <div class="animatedDiv display-sizeInfo">
                    <p>lorem ipsum</p>
                </div>
            </div>

            <div class="clickableDiv">TVÄTT & SKÖTSELRÅD<i class="expand_moreIcon material-icons">expand_more</i>
                <div class="animatedDiv display-laundry">
                    <p>lorem ipsum</p>
                </div>
            </div>

            <div class="clickableDiv">LEVERANS & RETUR<i class="expand_moreIcon material-icons">expand_more</i>
                <div class="animatedDiv display-shipping">
                    <p>lorem ipsum</p>
                </div>
            </div>
            
        </div>
    </div>
</article>
